@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap%22");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap%22");

html, .btn, body{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

h3, h2, h5, h4, #divMostrarErrorLogin{
    text-align: center;
    text-transform: uppercase;
}

#divResultadoBusqueda, #divResultadoFormulario, #divResultadoBusquedaError,
#divResultadoReasignar{
    text-align: center;
}


.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.divNavContenedor{
    width: 100%;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    -webkit-box-shadow: -1px 17px 64px -7px rgba(121, 121, 121, 0.75);
    -moz-box-shadow: -1px 17px 64px -7px rgba(126, 126, 126, 0.75);
    box-shadow: -1px 17px 64px -7px rgba(126, 126, 126, 0.75);
}

.divNavContenedor .logo{
    text-align: start;
    width: 70px;
}

.navLi{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin-right: 15px;
}

.divContenedorPrincipal{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    max-width:780px;
    display:flex;
    flex-direction:column;
    padding:40px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px -1px 10px 5px rgb(167, 167, 167);
}

.divContendorBienvenida{
    text-align: center;
}

.btn{
    display:block;
    width:100%;
    border-radius:5px;
    padding: 0.70rem;
    background-color: #37af65;
    color:rgb(255, 255, 255);
    font-size: 20;
    border:0px;
    cursor:pointer;
    
}

.btn.btn-logout{
    background-color: #f44336;
}

.btn.btn-crearUsuario{
    background-color: rgb(99, 99, 184);
}

.btn.btn-dashboard{
    background-color: rgb(99, 99, 184);
}

.btn.btn-Warning{
    background-color: #dfce37;
}

.btn.btn-Danger{
    background-color: #c75048;
}

.btn.btn-Normal{
    background-color: #8a8a8a;
}

.btn.btn-Primary{
    background-color: #2196F3;
}

#divMostrarErrorLogin{
    color: #f44336;
}

.inputs{
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 4px;

}

.inputs label{
    font-weight: 600;
    margin-bottom: 10px;
}

.inputs select, input{
    display: block;
    padding: 15px 5px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #f1f1f1;
    letter-spacing: 1px;
    font-size: 1.000em;
    font-weight: 400;
    margin-top: 5px;
}

.chck{
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

.chck input{
    display: inline-block;
    width: auto;
}

.chck label{
    font-weight: 600;
    margin-bottom: 10px;
}

.parInput{
    display: flex;
    gap: 25px;
}


table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

#divReporteInvitado{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


    
    
    