html, body{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
    text-transform: uppercase;
}

#divResultadoBusqueda{
    text-align: center;
}


.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContenedor{
    width: 100%;
    position:fixed;
    top:0;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    -webkit-box-shadow: -1px 17px 64px -7px rgba(121, 121, 121, 0.75);
    -moz-box-shadow: -1px 17px 64px -7px rgba(126, 126, 126, 0.75);
    box-shadow: -1px 17px 64px -7px rgba(126, 126, 126, 0.75);
}

.navContenedor .logo{
    text-align: start;
    width: 70px;
}

.navLi{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 10px;
    margin-right: 15px;
}

.contenedorPrincipal{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:10px;
    max-width:650px;
    display:flex;
    flex-direction:column;
    padding:40px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px -1px 10px 5px rgb(167, 167, 167);
}

.contendorBienvenida{
    text-align: center;
}

.btn{
    display:block;
    width:100%;
    border-radius:5px;
    padding: 0.70rem;
    background-color: #37af65;
    color:rgb(255, 255, 255);
    font-size: 20;
    border:0px;
    cursor:pointer;
    
}

.btn.btn-logout{
    background-color: #f51414;
}

.btn.btn-crearUsuario{
    background-color: rgb(99, 99, 184);
    color: white
}

.btn.btn-dashboard{
    background-color: rgb(99, 99, 184);
}

#divMostrarErrorLogin{
    color: #f51414;
}

.inputs{
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 4px;

}

.inputs label{
    font-weight: 600;
    margin-bottom: 10px;
}

.inputs select, input{
    display: block;
    padding: 15px 5px;
    border: none;
    border-radius: 4px;
    width: 100%;
    background-color: #f1f1f1;
    letter-spacing: 1px;
    font-size: 1.000em;
    font-weight: 400;
    margin-top: 5px;
}

.chck{
    width: 100%;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

.chck input{
    display: inline-block;
    width: auto;
}

.chck label{
    font-weight: 600;
    margin-bottom: 10px;
}

.parInput{
    display: flex;
    gap: 25px;
}






    
    
    